* {
  font-family: Helvetica;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

.container {
  height: 100%;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
}

picture {
  max-width: 100%;
}

/*
General
*/
/*___Mobile___*/
/*
Spacers:
*/
/*___Tablet___*/
/*___Desktop___*/
/*
Spacers:
*/
.button {
  text-decoration: none;
  color: white;
  background-color: #D93025;
  margin: 30px 30px 30px 30px;
  padding: 11px 25px 11px 25px;
  font-size: 16px;
  letter-spacing: 0.03em;
  border-radius: 4px;
  border: none;
}

.button:hover {
  color: #D93025;
  background-color: white;
  transition: 0.5s;
}

h1 {
  color: #D93025;
  margin: 50px 30px 30px 30px;
  font-size: 25px;
  font-weight: bold;
  letter-spacing: 0.03em;
}

h2 {
  margin: 50px 30px 20px 30px;
  font-size: 22px;
  font-weight: bold;
  letter-spacing: 0.03em;
}

p {
  margin: 20px 30px 30px 30px;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.03em;
  margin-bottom: 30px;
}

img {
  padding: 40px 30px 40px 30px;
  width: 100%;
}

h3 {
  margin: 30px 30px 20px 30px;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 0.03em;
}

/* Phone */
nav {
  display: flex;
  align-items: center;
  min-height: 8vh;
  background-color: #D93025;
}
nav #logo {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 30px;
}
nav #logo a {
  width: 45px;
}
nav #logo a img {
  margin: 0;
  width: 45px;
  padding: 0;
  left: 0;
}

.nav-links {
  position: fixed;
  right: 0;
  height: 50vh;
  top: 11%;
  display: flex;
  background-color: #D93025;
  flex-direction: column;
  align-items: center;
  width: 50%;
  transform: translateX(100%);
  transition: transform 0.5s ease-in;
  padding-bottom: 4vh;
  justify-content: space-around;
  list-style-type: none;
  font-size: 18px;
  letter-spacing: 0.03em;
  margin-left: 40%;
  z-index: 1;
}
.nav-links #buttonNav {
  background-color: white;
  color: #D93025;
}
.nav-links #buttonNav:hover {
  color: white;
  background-color: black;
  transition: 0.5s;
}
.nav-links a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  padding: 10px 20px 10px 20px;
}
.nav-links a:hover {
  color: black;
  transition: 0.5s;
}
.nav-links .active {
  border-bottom: 3px solid white;
}

.nav-links a li {
  opacity: 0;
  color: white;
}

.nav-links a li:hover {
  color: black;
  transition: 0.5s;
}

.burger {
  width: 25px;
  transition: all 0.3s ease;
  cursor: pointer;
  margin-left: auto;
  margin-right: 35px;
}

.burger div {
  height: 4px;
  width: 25px;
  height: 4px;
  background-color: white;
  margin: 5px;
  transition: all 0.3s ease;
}

#buttonNav li:hover {
  color: #D93025;
  background-color: white;
  transition: 0.5s;
}

/* Tablet */
@media screen and (min-width: 768px) {
  nav {
    display: flex;
    align-items: center;
    min-height: 8vh;
  }
  nav #logo {
    margin-left: 77px;
  }
  nav .burger {
    margin-right: 77px;
  }
  nav .nav-links {
    top: 11%;
  }
}
/* Desktop small
@media screen and (min-width: 1024px) {
    nav {
        #logo {
            margin-left: $margin-left;
        }

        .nav-links {
            top: 11%;
        }
    }
} */
/* Desktop */
@media screen and (min-width: 1440px) {
  nav {
    display: flex;
    align-items: center;
    min-height: 8vh;
  }
  nav #logo {
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 192px;
  }
  nav #logo img {
    width: 50px;
    margin: 0;
    padding: 0;
    left: 0;
  }
  nav .nav-links {
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 0;
    list-style-type: none;
    font-size: 18px;
    letter-spacing: 0.03em;
    margin-left: auto;
    margin-right: 192px;
    width: auto;
    transform: translateX(0%);
    height: auto;
    margin-top: 35px;
    justify-content: end;
    padding-bottom: 0vh;
    color: white;
  }
  nav .nav-links #buttonNav {
    color: #D93025;
    background-color: white;
  }
  nav .nav-links #buttonNav:hover {
    color: white;
    background-color: black;
    transition: 0.5s;
  }
  nav .nav-links a {
    display: inline-block;
    text-decoration: none;
    color: black;
    font-weight: bold;
    padding: 10px 20px 10px 20px;
    width: auto;
    margin-left: 50px;
  }
  nav .nav-links a:hover {
    color: #D93025;
    transition: 0.5s;
  }
  nav .nav-links .active {
    border-bottom: 3px solid white;
  }
  nav .nav-links .active:hover {
    border-bottom: 3px solid black;
  }
  nav .nav-links .active:hover li {
    transition: 0.5s;
    color: black;
  }
  nav .nav-links a li {
    opacity: 100;
    color: white;
    height: auto;
  }
  nav .nav-links a li:hover {
    color: black;
  }

  .nav-links {
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 0;
    list-style-type: none;
    font-size: 18px;
    letter-spacing: 0.03em;
    margin-left: auto;
    margin-right: 192px;
    width: auto;
    transform: translateX(0%);
    height: auto;
    margin-top: 35px;
    justify-content: end;
    padding-bottom: 0vh;
    color: white;
  }
  .nav-links #buttonNav {
    color: #D93025;
    background-color: white;
  }
  .nav-links #buttonNav:hover {
    color: white;
    background-color: black;
    transition: 0.5s;
  }
  .nav-links a {
    display: inline-block;
    text-decoration: none;
    color: black;
    font-weight: bold;
    padding: 10px 20px 10px 20px;
    width: auto;
    margin-left: 50px;
  }
  .nav-links a:hover {
    color: #D93025;
    transition: 0.5s;
  }
  .nav-links .active {
    border-bottom: 3px solid white;
  }
  .nav-links .active:hover {
    border-bottom: 3px solid black;
  }
  .nav-links .active:hover li {
    transition: 0.5s;
    color: black;
  }
  .nav-links a li {
    opacity: 100;
    color: white;
    height: auto;
  }
  .nav-links a li:hover {
    color: black;
  }

  .burger {
    display: none;
  }
}
.nav-active {
  transform: translateX(0%);
}

@-webkit-keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}
.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
  opacity: 0;
}

.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}

/* Desktop */
@media screen and (min-width: 1921px) {
  nav {
    max-width: 1920px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
  nav .nav-links {
    margin-right: 16%;
  }
}
/* Phone */
main h1 {
  color: #D93025;
  margin: 50px 30px 30px 30px;
  font-size: 25px;
  font-weight: bold;
  letter-spacing: 0.03em;
}
main p {
  margin: 20px 30px 30px 30px;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.03em;
}
main #divForHr {
  border-right: 3px solid black;
}
main #divForHr .button {
  margin-right: 25px;
}
main h3 {
  margin: 30px 30px 20px 30px;
  margin-top: 0px;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 0.03em;
  margin-bottom: 30px;
}
main .button {
  text-decoration: none;
  color: white;
  background-color: #D93025;
  margin: 30px 30px 30px 30px;
  padding: 11px 25px 11px 25px;
  margin-bottom: 0px;
  font-size: 16px;
  letter-spacing: 0.03em;
}
main .button:hover {
  color: #D93025;
  background-color: white;
  transition: 0.5s;
}
main .cta {
  width: 49%;
  display: inline-block;
  text-align: start;
  height: 85px;
}
main .cta .button {
  padding: 11px 18px 11px 18px;
}

/* Tablet */
@media screen and (min-width: 768px) {
  main #mainLogo {
    display: block;
    text-align: center;
  }
  main #mainLogo img {
    width: 75%;
  }
  main #mainText h1 {
    margin-left: 77px;
    margin-right: 77px;
  }
  main #mainText p {
    margin-left: 77px;
    margin-right: 77px;
  }
  main #mainText .ctas {
    margin-left: 77px;
    margin-right: 77px;
  }
  main #mainText .ctas #divForHr {
    width: 25%;
  }
  main #mainText .ctas #divForHr h3 {
    margin-left: 0;
  }
  main #mainText .ctas #divForHr a {
    margin-left: 0;
  }
}
@media screen and (min-width: 1024px) {
  main #mainLogo img {
    width: 65%;
    margin-top: 25px;
    margin-bottom: 25px;
  }
  main #mainText .ctas #divForHr {
    width: 160px;
  }
}
/* Desktop */
@media screen and (min-width: 1440px) {
  main {
    display: block;
    height: 650px;
  }
  main #mainText {
    display: inline;
    width: 50%;
    float: left;
    padding-top: 30px;
  }
  main #mainText h1 {
    margin: 50px 10% 30px 192px;
  }
  main #mainText p {
    margin: 30px 192px 30px 192px;
  }
  main #mainText .ctas {
    margin: 50px 10% 30px 192px;
    margin-top: 50px;
  }
  main #mainText .ctas #divForHr {
    padding-left: 0;
    width: 150px;
  }
  main #mainText .ctas #divForHr h3 {
    margin-left: 0;
  }
  main #mainText .ctas #divForHr .button {
    margin-left: 0;
  }
  main #mainLogo {
    display: flex;
    width: 50%;
    float: left;
    justify-content: space-around;
  }
  main #mainLogo img {
    padding: 40px 30px 40px 30px;
    margin-top: 15%;
    width: 75%;
    padding-right: 192px;
  }
  main h1 {
    margin: 50px 10% 30px 192px;
    font-size: 45px;
  }
  main p {
    margin: 30px 192px 30px 192px;
    font-size: 16px;
  }
}
/* Desktop */
@media screen and (min-width: 1920px) {
  main {
    max-width: 1920px;
    margin-left: auto;
    margin-right: auto;
  }
  main #mainLogo img {
    top: 0;
    width: 60%;
  }
}
.about h2 {
  margin: 50px 30px 20px 30px;
  font-size: 22px;
  font-weight: bold;
  letter-spacing: 0.03em;
  margin-top: 0px;
}
.about p {
  margin: 20px 30px 30px 30px;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.03em;
}
.about #p1 {
  margin-bottom: 0;
}
.about img {
  padding: 40px 30px 40px 30px;
  width: 100%;
}
.about h3 {
  margin: 30px 30px 20px 30px;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 0.03em;
  margin-top: 0px;
}
.about .button {
  margin: 30px 30px 30px 30px;
}

/* Tablet */
@media screen and (min-width: 768px) {
  .about h2 {
    margin-left: 77px;
    margin-right: 77px;
  }
  .about h3 {
    margin-left: 77px;
    margin-right: 77px;
  }
  .about p {
    margin-left: 77px;
    margin-right: 77px;
  }
  .about .button {
    margin-left: 77px;
    margin-right: 77px;
  }
  .about #imageAbout {
    display: block;
    width: 100%;
  }
  .about #imageAbout img {
    width: 100%;
    padding-left: 77px;
    padding-right: 77px;
  }
}
@media screen and (min-width: 1024px) {
  .about #imageAbout {
    text-align: center;
  }
  .about #imageAbout img {
    width: 65%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
    margin-bottom: 25px;
  }
}
/* Desktop */
@media screen and (min-width: 1440px) {
  .about {
    background-color: #EEE;
    height: 700px;
  }
  .about h2 {
    margin: 0;
    padding: 100px 10% 30px 192px;
    font-size: 45px;
  }
  .about p {
    margin: 30px 192px 30px 192px;
    font-size: 16px;
  }
  .about #imageAbout {
    padding-left: 0;
    margin-left: 192px;
    width: 30%;
    margin-left: 192px;
    display: inline;
    width: 30%;
    float: left;
  }
  .about #imageAbout img {
    margin-left: 0;
    padding-left: 0;
    padding-right: 40px;
    float: left;
    width: 100%;
    margin-top: 0;
  }
  .about #textAbout {
    margin-right: 192px;
    display: inline;
    width: 40%;
    float: right;
  }
  .about #textAbout h3 {
    margin: 50px 10% 30px 10%;
    margin-left: 0;
  }
  .about #textAbout p {
    margin-left: 0;
  }
  .about #textAbout .button {
    margin-left: 0;
  }
  .about img {
    padding-left: 0;
  }
}
/* Desktop */
@media screen and (min-width: 1920px) {
  .about {
    height: 775px;
    max-width: 1920px;
    margin-left: auto;
    margin-right: auto;
  }
  .about #textAbout {
    width: 48%;
  }
  .about #imageAbout {
    width: 30%;
    margin-left: 192px;
    padding-left: 0;
  }
  .about #imageAbout img {
    float: left;
    width: 100%;
    margin-top: 0;
  }
}
.location {
  display: block;
}
.location div #map {
  padding: 40px 30px 40px 30px;
  width: 100%;
  height: 400px;
}

h2 {
  margin-bottom: 0px;
}

p {
  margin-top: 0px;
}

/* Tablet */
@media screen and (min-width: 768px) {
  .location h2 {
    margin-left: 77px;
    margin-right: 77px;
  }
  .location div #map {
    padding-left: 77px;
    padding-right: 77px;
  }
  .location p {
    margin-left: 77px;
    margin-right: 77px;
  }
}
/* Desktop */
@media screen and (min-width: 1024px) {
  .location h2 {
    margin-left: 77px;
    margin-right: 77px;
  }
}
/* Desktop */
@media screen and (min-width: 1440px) {
  .location #gridLocation {
    height: 500px;
    display: grid;
    grid-template-columns: 50% auto;
    grid-template-rows: 185px auto;
    grid-template-areas: "title map" "p map";
  }
  .location #gridLocation #locationTitle {
    grid-area: title;
  }
  .location #gridLocation #locationP {
    grid-area: p;
  }
  .location #gridLocation #mapsWidget {
    grid-area: map;
  }
  .location #gridLocation h2 {
    padding: 100px 10% 30px 192px;
    margin: 0;
    font-size: 45px;
  }
  .location #gridLocation p {
    margin: 30px 30px 30px 192px;
  }
  .location #gridLocation div #map {
    width: 100%;
    padding: 100px 192px 50px 50px;
    height: 500px;
  }
}
/* Desktop */
@media screen and (min-width: 1920px) {
  .location {
    margin-top: 25px;
    display: block;
    max-width: 1920px;
    margin-left: auto;
    margin-right: auto;
    height: 600px;
    margin-bottom: 0;
  }
  .location #gridLocation #locationP {
    height: 200px;
  }
}
@media screen and (min-width: 1920px) {
  .location {
    height: 450px;
  }
}
.projects h1 {
  font-size: 25px;
  margin: 50px 30px 30px 30px;
}
.projects .project h2 {
  margin-top: 0;
}

#h2Contact {
  margin-top: 0;
}

.date {
  color: #797B84;
  margin: 12px 30px 12px 30px;
}

.projectText {
  margin-bottom: 0;
}

#pContact {
  margin: 20px 30px 30px 30px;
}

#h2Oproep {
  margin: 50px 30px 20px 30px;
}

/* Tablet */
@media screen and (min-width: 768px) {
  .projects h1 {
    margin-left: 77px;
    margin-right: 77px;
  }
  .projects div {
    text-align: center;
  }
  .projects div h2 {
    text-align: left;
    margin-left: 77px;
    margin-right: 77px;
  }
  .projects div p {
    text-align: left;
    margin-left: 77px;
    margin-right: 77px;
  }
  .projects div img {
    width: 100%;
    padding-left: 77px;
    padding-right: 77px;
  }

  #contactProjects h2 {
    margin-left: 77px;
    margin-right: 77px;
  }
  #contactProjects p {
    margin-left: 77px;
    margin-right: 77px;
  }
  #contactProjects a {
    margin-left: 77px;
    margin-right: 77px;
  }

  .contact #h2Oproep {
    margin-left: 77px;
    margin-right: 77px;
  }
  .contact p {
    margin-left: 77px;
    margin-right: 77px;
  }
}
/* Desktop
@media screen and (min-width: 1024px) {
    .projects {
        h1 {
            margin-left: $margin-left;
            margin-right: $margin-right;
        }
    }
} */
/* Tablet */
@media screen and (min-width: 1024px) {
  .projects div {
    text-align: center;
  }
  .projects div h2 {
    text-align: left;
  }
  .projects div p {
    text-align: left;
  }
  .projects div img {
    width: 55%;
    padding-left: 77px;
    padding-right: 77px;
    margin: 25px auto 25px auto;
  }
}
/* Desktop */
@media screen and (min-width: 1440px) {
  .projects h1 {
    font-size: 45px;
    margin: 50px 10% 30px 192px;
    margin-top: 100px;
  }
  .projects #project1 {
    display: grid;
    grid-template-columns: 60% auto;
    grid-template-rows: 90px 50px auto;
    grid-template-areas: "title img" "date img" "p img";
  }
  .projects #project1 #project1Title {
    grid-area: title;
  }
  .projects #project1 #project1Date {
    grid-area: date;
  }
  .projects #project1 #project1P {
    grid-area: p;
  }
  .projects #project1 #project1Img {
    grid-area: img;
    width: 100%;
    padding-right: 192px;
    padding-bottom: 0;
    margin-bottom: 100px;
  }
  .projects #project1 h2 {
    font-size: 45px;
    margin: 100px 10% 30px 192px;
    margin-top: 40px;
    margin-right: 40px;
  }
  .projects #project1 p {
    font-size: 16px;
    margin: 30px 192px 30px 192px;
    margin-right: 40px;
  }
  .projects #project2 {
    background-color: #EEE;
    display: grid;
    grid-template-columns: auto 60%;
    grid-template-rows: 150px 50px auto;
    grid-template-areas: "img title" "img date" "img p";
  }
  .projects #project2 #project2Title {
    grid-area: title;
  }
  .projects #project2 #project2Date {
    grid-area: date;
  }
  .projects #project2 #project2P {
    grid-area: p;
  }
  .projects #project2 #project2Img {
    grid-area: img;
    width: 100%;
    padding-left: 192px;
    margin-top: 100px;
    padding-top: 0;
    margin-bottom: 100px;
    padding-bottom: 0;
  }
  .projects #project2 h2 {
    font-size: 45px;
    margin: 100px 10% 30px 192px;
    margin-left: 40px;
  }
  .projects #project2 p {
    font-size: 16px;
    margin: 30px 192px 30px 192px;
    margin-left: 40px;
  }
  .projects #project3 {
    display: grid;
    grid-template-columns: 60% auto;
    grid-template-rows: 200px 50px auto;
    grid-template-areas: "title img" "date img" "p img";
  }
  .projects #project3 #project3Title {
    grid-area: title;
  }
  .projects #project3 #project3Date {
    grid-area: date;
  }
  .projects #project3 #project3P {
    grid-area: p;
  }
  .projects #project3 #project3Img {
    grid-area: img;
    width: 100%;
    padding-right: 192px;
    margin-top: 100px;
    padding-top: 0;
    padding-bottom: 0;
    margin-bottom: 100px;
  }
  .projects #project3 h2 {
    font-size: 45px;
    margin: 100px 10% 30px 192px;
    margin-top: 100px;
    margin-right: 40px;
  }
  .projects #project3 p {
    font-size: 16px;
    margin: 30px 192px 30px 192px;
    margin-right: 40px;
  }
  .projects #project4 {
    display: grid;
    grid-template-columns: auto 60%;
    grid-template-rows: 200px 50px auto;
    grid-template-areas: "img title" "img date" "img p";
  }
  .projects #project4 #project4Title {
    grid-area: title;
  }
  .projects #project4 #project4Date {
    grid-area: date;
  }
  .projects #project4 #project4P {
    grid-area: p;
  }
  .projects #project4 #project4Img {
    grid-area: img;
    width: 100%;
    padding-left: 192px;
    margin-top: 100px;
    padding-top: 0;
    padding-bottom: 0;
    margin-bottom: 100px;
  }
  .projects #project4 h2 {
    font-size: 45px;
    margin: 100px 10% 30px 192px;
    margin-top: 100px;
    margin-right: 40px;
  }
  .projects #project4 p {
    font-size: 16px;
    margin: 30px 192px 30px 192px;
    margin-right: 40px;
  }
  .projects #project5 {
    display: grid;
    grid-template-columns: 60% auto;
    grid-template-rows: 200px 50px auto;
    grid-template-areas: "title img" "date img" "p img";
  }
  .projects #project5 #project5Title {
    grid-area: title;
  }
  .projects #project5 #project5Date {
    grid-area: date;
  }
  .projects #project5 #project5P {
    grid-area: p;
  }
  .projects #project5 #project5Img {
    grid-area: img;
    width: 100%;
    padding-right: 192px;
    margin-top: 100px;
    padding-top: 0;
    padding-bottom: 0;
    margin-bottom: 100px;
  }
  .projects #project5 h2 {
    font-size: 45px;
    margin: 100px 10% 30px 192px;
    margin-top: 100px;
    margin-right: 40px;
  }
  .projects #project5 p {
    font-size: 16px;
    margin: 30px 192px 30px 192px;
    margin-right: 40px;
  }

  #contactProjects h2 {
    margin-left: 192px;
  }
  #contactProjects .button {
    margin-left: 192px;
  }

  .contact h2 {
    font-size: 45px;
    margin: 100px 10% 30px 192px;
  }
  .contact #h2Contact {
    margin-top: 0;
    padding-top: 100px;
  }
  .contact #pContact {
    font-size: 16px;
    margin: 30px 192px 30px 192px;
    width: 35%;
  }
  .contact #h2Oproep {
    margin: 100px 10% 30px 192px;
  }
  .contact a {
    margin: 50px 192px 50px 192px;
  }
  .contact .button {
    margin-bottom: 100px;
  }
  .contact p {
    margin: 30px 192px 30px 192px;
  }

  #contactProjects {
    background-color: #EEE;
    padding-bottom: 100px;
  }
}
/* Desktop */
@media screen and (min-width: 1920px) {
  .projects {
    max-width: 1920px;
    margin-left: auto;
    margin-right: auto;
  }

  .contact {
    max-width: 1920px;
    margin-left: auto;
    margin-right: auto;
  }

  #contactProjects {
    max-width: 1920px;
    margin-left: auto;
    margin-right: auto;
  }
}
.message {
  margin: 20px 30px 30px 30px;
  margin-top: 50px;
}

.formArea {
  margin-top: 50px;
}
.formArea .toggle {
  display: block;
  margin: 0;
  padding: 0;
}
.formArea .toggle .bigButton {
  margin: 30px 30px 30px 30px;
  text-align: center;
  padding: 17px 40px 17px 40px;
  line-height: 41px;
  text-decoration: none;
  color: #797B84;
  opacity: 80%;
  font-size: 16px;
  border-radius: 4px;
}
.formArea .toggle #activeToggle {
  color: white;
  background-color: #D93025;
  margin-right: 0;
  opacity: 100%;
}
.formArea .toggle #notActiveToggle {
  margin-left: 0;
}
.formArea .toggle #activeToggleOfferte {
  color: white;
  background-color: #D93025;
  margin-left: 0;
  opacity: 100%;
}
.formArea .toggle #notActiveToggleOfferte {
  margin-right: 0;
}
.formArea .form {
  margin: 10px 30px 10px 30px;
  border: 1px solid #797B84;
  margin-top: 6px;
  border-radius: 4px;
  padding-left: 30px;
  padding-right: 30px;
}
.formArea .form form {
  margin-top: 30px;
}
.formArea .form form .inputs h3 {
  margin-left: 0;
  margin-right: 0;
}
.formArea .form form .inputs .inputs {
  margin-top: 30px;
}
.formArea .form form .inputs .inputs input {
  display: block;
  width: 100%;
  margin: 10px 30px 10px 30px;
  padding: 23px 20px 23px 20px;
  font-size: 16px;
  color: #797B84;
  border: 1px solid #797B84;
  border-radius: 4px;
  margin-left: 0;
  margin-right: 0;
}
.formArea .form form .inputs .inputs textarea {
  display: block;
  width: 100%;
  margin: 10px 30px 10px 30px;
  padding: 23px 20px 23px 20px;
  font-size: 16px;
  height: 320px;
  resize: none;
  color: #797B84;
  border: 1px solid #797B84;
  border-radius: 4px;
  margin-left: 0;
  margin-right: 0;
}
.formArea .form form .inputs .inputs select {
  /*-webkit-appearance: none;
  -moz-appearance: none; */
  display: block;
  width: 100%;
  margin: 10px 30px 10px 30px;
  padding: 23px 20px 23px 20px;
  font-size: 16px;
  resize: none;
  color: #797B84;
  border: 1px solid #797B84;
  border-radius: 4px;
  background-color: white;
  margin-left: 0;
  margin-right: 0;
  /* background-image: url("https://www.flaticon.com/authors/dave-gandy");
  background-repeat: no-repeat;
  background-position: right 20px center; */
}
.formArea .form form .inputs .inputs a {
  color: white;
  display: inline;
  margin-left: 0;
  margin-right: 0;
}
.formArea .form form .inputs .inputs #vrachtTitle {
  display: block;
  margin-top: 30px;
  margin-bottom: 20px;
}
.formArea .form form .inputs .inputs #vrachtTitle h3 {
  display: inline;
  margin-right: 0;
  margin-left: 0;
}
.formArea .form form .inputs .inputs #vrachtTitle a {
  display: inline;
  color: #D93025;
  font-weight: bold;
  background-color: white;
}
.formArea .form form .inputs .inputs #vrachtTitle #verwijderen {
  padding-left: 0;
}
.formArea .form form .inputs .inputs #fotoVrachtToevoegen {
  margin: 10px 30px 10px 30px;
  padding: 23px 20px 23px 20px;
  background-color: #797B84;
  border-radius: 4px;
  width: 82%;
  display: block;
  margin-bottom: 30px;
  color: white;
  margin-left: 0;
  margin-right: 0;
}
.formArea .form form .inputs .inputs #cloneButton {
  border: none;
  display: inline-block;
  width: auto;
  margin: 30px 30px 30px 30px;
  margin-top: 0;
}
.formArea .form form .inputs .inputs #extraInfo {
  margin-top: 0;
}
.formArea .form form input {
  display: block;
  width: 100%;
  margin: 10px 30px 10px 30px;
  padding: 23px 20px 23px 20px;
  font-size: 16px;
  color: #797B84;
  border: 1px solid #797B84;
  border-radius: 4px;
  margin-left: 0;
  margin-right: 0;
}
.formArea .form form textarea {
  display: block;
  width: 100%;
  margin: 10px 30px 10px 30px;
  padding: 23px 20px 23px 20px;
  font-size: 16px;
  height: 320px;
  resize: none;
  color: #797B84;
  border: 1px solid #797B84;
  border-radius: 4px;
  margin-left: 0;
  margin-right: 0;
}
.formArea .form form select {
  /*-webkit-appearance: none;
  -moz-appearance: none; */
  display: block;
  width: 100%;
  margin: 10px 30px 10px 30px;
  padding: 23px 20px 23px 20px;
  font-size: 16px;
  resize: none;
  color: #797B84;
  border: 1px solid #797B84;
  border-radius: 4px;
  background-color: white;
  margin-left: 0;
  margin-right: 0;
  /* background-image: url("https://www.flaticon.com/authors/dave-gandy");
  background-repeat: no-repeat;
  background-position: right 20px center; */
}
.formArea .form form a {
  color: white;
  display: inline;
  margin-left: 0;
  margin-right: 0;
}
.formArea .form form #vrachtTitle {
  display: block;
  margin-top: 30px;
  margin-bottom: 20px;
}
.formArea .form form #vrachtTitle h3 {
  display: inline;
  margin-right: 0;
  margin-left: 0;
  margin-right: 0;
}
.formArea .form form #vrachtTitle a {
  display: inline;
  color: #D93025;
  font-weight: bold;
  background-color: white;
}
.formArea .form form #vrachtTitle #verwijderen {
  padding-left: 0;
}
.formArea .form form #fotoVrachtToevoegen {
  margin: 10px 30px 10px 30px;
  padding: 23px 20px 23px 20px;
  background-color: #797B84;
  border-radius: 4px;
  width: 100%;
  display: block;
  margin-bottom: 30px;
  color: white;
  margin-left: 0;
  margin-right: 0;
}
.formArea .form form #cloneButton {
  display: inline-block;
  width: auto;
  margin: 30px 30px 30px 30px;
  margin-top: 0;
  margin-left: 0;
}
.formArea .form form #extraInfo {
  margin-top: 30px;
}
.formArea #submitContact {
  border: none;
  width: auto;
  color: white;
  padding: 11px 25px;
  margin-top: 20px;
  margin-bottom: 20px;
}

#newElementId div {
  display: inline;
}

.wrapper {
  background-color: white;
}
.wrapper .cloneme div a {
  color: #D93025;
  background-color: white;
  padding: 0;
  margin-left: 0;
}
.wrapper .cloneme div h3 {
  display: inline;
  margin-right: 0;
}
.wrapper .cloneme a {
  margin: 10px 30px 10px 30px;
  padding: 23px 20px 23px 20px;
  background-color: #797B84;
  border-radius: 4px;
  width: 81.5%;
  display: block;
  margin-bottom: 30px;
}

/* Tablet */
@media screen and (min-width: 768px) {
  .container .message {
    margin: 20px 30px 30px 30px;
    margin-left: 77px;
    margin-right: 77px;
    margin-top: 75px;
  }
  .container .welcome h1 {
    margin-left: 77px;
    margin-right: 77px;
  }
  .container .welcome p {
    margin-left: 77px;
    margin-right: 77px;
  }
  .container .formArea {
    margin-left: 77px;
    margin-right: 77px;
  }
  .container .formArea .toggle {
    margin-left: 0;
    margin-right: 0;
  }
  .container .formArea .toggle #activeToggle {
    margin-left: 0;
  }
  .container .formArea .toggle #notActiveToggleOfferte {
    margin-left: 0;
  }
  .container .formArea .form {
    margin-left: 0;
    margin-right: 0;
    padding-left: 30px;
    padding-right: 30px;
  }
  .container .formArea .form form h3 {
    margin-left: 0;
  }
  .container .formArea .form form input {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }
  .container .formArea .form form textarea {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }
  .container .formArea .form form #submitContact {
    width: auto;
  }
  .container .formArea .form form select {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }
  .container .formArea .form form #fotoVrachtToevoegen {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }
  .container .formArea .form form #cloneButton {
    margin-left: 0;
  }
}
/* Desktop */
@media screen and (min-width: 1440px) {
  .container .message {
    margin: 30px 192px 30px 192px;
    margin-top: 75px;
  }
  .container .welcome h1 {
    font-size: 45px;
    margin: 50px 10% 30px 192px;
    margin-top: 100px;
  }
  .container .welcome p {
    font-size: 16px;
    margin: 30px 192px 30px 192px;
  }
  .container .formArea {
    margin-top: 50px;
    margin-left: 192px;
    margin-right: 192px;
  }
  .container .formArea .toggle #activeToggle {
    margin-left: 0;
  }
  .container .formArea .toggle #notActiveToggleOfferte {
    margin-left: 0;
  }
  .container .formArea .form form .inputs h3 {
    font-size: 16px;
  }
  .container .formArea .form form .inputs input {
    width: 100%;
  }
  .container .formArea .form form .inputs textarea {
    width: 100%;
  }
  .container .formArea .form form .inputs select {
    width: 100%;
  }
  .container .formArea .form form .inputs #fotoVrachtToevoegen {
    width: 100%;
  }
}
/* Desktop */
@media screen and (min-width: 1920px) {
  .container {
    max-width: 1920px;
    margin-left: auto;
    margin-right: auto;
  }
}
footer {
  background-color: #797B84;
  color: white;
  margin: 60px 0px 0px 0px;
}
footer .pageUp {
  display: inline;
  float: right;
  padding: 50px 30px 20px 30px;
  padding-top: 30px;
  width: auto;
}
footer .pageUp a #arrowUp {
  font-size: 40px;
  color: white;
}
footer .footerLinks {
  display: inline;
  float: left;
  width: 72%;
}
footer .footerLinks div p {
  margin: 20px 30px 30px 30px;
}
footer .footerLinks div p a .social {
  font-size: 30px;
  color: white;
}
footer .footerLinks div p a #insta {
  margin-left: 5px;
}
footer .footerLinks div #p3 {
  margin-bottom: 0px;
}
footer .footerLinks div #p3 a {
  color: white;
  text-decoration: none;
  cursor: pointer;
}
footer .footerLinks div #p3 a:hover {
  color: #BBB;
  transition: 0.5s;
}
footer .footerLinks div #p3 #linkedIn {
  text-decoration: underline;
}
footer .footerLinks #footerlink1 p a {
  color: white;
  text-decoration: none;
}
footer .footerLinks #footerlink2 p a:hover {
  color: #BBB;
  transition: 0.5s;
}
footer img {
  margin: 0;
  padding: 40px 30px 40px 30px;
  width: auto;
}

/* Tablet */
@media screen and (min-width: 768px) {
  footer {
    padding-top: 45px;
  }
  footer #arrow {
    margin-right: 77px;
    padding-right: 0;
  }
  footer .footerLinks div h3 {
    margin-left: 77px;
    margin-right: 77px;
  }
  footer .footerLinks div p {
    margin-left: 77px;
  }
  footer .footerLinks #footerlink2 {
    margin-left: 0;
  }
  footer #imageDivFooter {
    text-align: center;
  }
  footer #imageDivFooter img {
    width: 75%;
  }
}
/* Desktop */
@media screen and (min-width: 1440px) {
  footer {
    margin-top: 140px;
    display: grid;
    grid-template-columns: 800px 307px auto;
    grid-template-rows: auto;
    grid-template-areas: "links img arrow";
    padding-top: 0;
  }
  footer .pageUp {
    text-align: right;
    padding-right: 0;
    margin-right: 0;
    padding-top: 75px;
  }
  footer #arrow {
    grid-area: arrow;
    margin-right: 192px;
  }
  footer #footerLinks {
    grid-area: links;
    margin-left: 192px;
    width: 100%;
    display: flexbox;
  }
  footer #footerLinks div {
    vertical-align: top;
  }
  footer #footerLinks div h3 {
    margin-top: 75px;
  }
  footer #footerLinks #footerlink1 {
    width: 25%;
    display: inline-block;
    padding-left: 0;
  }
  footer #footerLinks #footerlink1 h3 {
    margin-left: 0;
  }
  footer #footerLinks #footerlink1 p {
    margin-left: 0;
  }
  footer #footerLinks #footerlink2 {
    display: inline-block;
    width: 28%;
    margin-left: 50px;
  }
  footer #footerLinks #footerlink3 {
    display: inline-block;
    width: 15%;
  }
  footer #imageDivFooter {
    grid-area: img;
    width: 400px;
    margin: 0;
    margin-left: 35px;
  }
  footer #imageDivFooter img {
    padding-left: 60px;
  }
}
/* Desktop */
@media screen and (min-width: 1920px) {
  footer {
    max-width: 1920px;
    margin-left: auto;
    margin-right: auto;
  }
  footer #imageDivFooter {
    margin-left: 100px;
  }
}
