/* Phone */

main {
    h1 {
        color: $red;
        margin: $h1-margin-mobile;
        font-size: $h1-font-size-mobile;
        font-weight: $title-font-weight;
        letter-spacing: $kerning;
    }

    p {
        margin: $p-margin-mobile;
        font-size: $p-font-size-mobile;
        line-height: $p-font-size-mobile * $line-height-factor;
        letter-spacing: $kerning;
    }

    #divForHr {
        border-right: 3px solid black;

        .button {
            margin-right: 25px;
        }
    }

    h3 {
        margin: $h3-margin-mobile;
        margin-top: 0px;
        font-size: $h3-font-size-mobile;
        font-weight: $title-font-weight;
        letter-spacing: $kerning;
        margin-bottom: 30px;
    }

    .button {
        text-decoration: none;
        color: white;
        background-color: $red;
        margin: $button-margin-mobile;
        padding: $buttonValue-padding;
        margin-bottom: 0px;
        font-size: $button-font-size-mobile;
        letter-spacing: $kerning;
    }

    .button:hover {
        color: $red;
        background-color: white;
        transition: 0.5s;
    }

    .cta {
        width: 49%;
        display: inline-block;
        text-align: start;
        height: 85px;
        
        .button {
            padding: 11px 18px 11px 18px;
        }
    }
}

/* Tablet */
@media screen and (min-width: 768px) {
    main {
        #mainLogo {
            display: block;
            text-align: center;

            img {
                width: 75%;
            }
        }

        #mainText {
            h1 {
                margin-left: $margin-left;
                margin-right: $margin-right
            }

            p {
                margin-left: $margin-left;
                margin-right: $margin-right;
            }

            .ctas {
                margin-left: $margin-left;
                margin-right: $margin-right;

                #divForHr {
                    width: 25%;

                    h3 {
                        margin-left: 0;
                    }

                    a {
                        margin-left: 0;
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 1024px) {
    main {
        #mainLogo {
            img {
                width: 65%;
                margin-top: 25px;
                margin-bottom: 25px;
            }
        }

        #mainText {
            .ctas {
                #divForHr {
                    width: 160px;
                }
            }
        }
    }
}

/* Desktop */
@media screen and (min-width: 1440px) {
    main {
        display: block;
        height: 650px;

        #mainText {
            h1 {
                margin: $h1-margin;
            }

            p {
                margin: $p-margin;
            }
            display: inline;
            width: 50%;
            float: left;
            padding-top: 30px;

            .ctas {
                margin: $h1-margin;
                margin-top: 50px;
    
                #divForHr {
                    padding-left: 0;
                    width: 150px;
    
                    h3 {
                        margin-left: 0;
                    }
    
                    .button {
                        margin-left: 0;
                    }
                }
            }
        }

        #mainLogo {
            display: flex;
            width: 50%;
            float: left;
            justify-content: space-around;

            img {
                padding: $img-margin-mobile;
                margin-top: 15%;
                width: 75%;
                padding-right: 192px;
            }
        }
        
        
        h1 {
            margin: $h1-margin;
            font-size: $h1-font-size;
        }

        p {
            margin: $p-margin;
            font-size: $p-font-size;
        }
    }
}

/* Desktop */
@media screen and (min-width: 1920px) {
    main {
        max-width: 1920px;
        margin-left: auto;
        margin-right: auto;

        #mainLogo {
            img {
                top: 0;
                width: 60%;
            }
        }
    }
}