.about {
    h2 {
        margin: $h2-margin-mobile;
        font-size: $h2-font-size-mobile;
        font-weight: $title-font-weight;
        letter-spacing: $kerning;
        margin-top: 0px;
    }

    p {
        margin: $p-margin-mobile;
        font-size: $p-font-size-mobile;
        line-height: $p-font-size-mobile * $line-height-factor;
        letter-spacing: $kerning;
    }

    #p1 {
        margin-bottom: 0;
    }

    img {
        padding: $img-margin-mobile;
        width: 100%;
    }

    h3 {
        margin: $h3-margin-mobile;
        font-size: $h3-font-size-mobile;
        font-weight: $title-font-weight;
        letter-spacing: $kerning;
        margin-top: 0px;
    }

    .button {
        margin: $button-margin-mobile;
    }
}

/* Tablet */
@media screen and (min-width: 768px) {
    .about {
        h2 {
            margin-left: $margin-left;
            margin-right: $margin-right;
        }

        h3 {
            margin-left: $margin-left;
            margin-right: $margin-right;
        }

        p {
            margin-left: $margin-left;
            margin-right: $margin-right;
        }

        .button {
            margin-left: $margin-left;
            margin-right: $margin-right;
        }

        #imageAbout {
            display: block;
            width: 100%;

            img {
                width: 100%;
                padding-left: $margin-left;
                padding-right: $margin-right;
            }
        }
    }
}

@media screen and (min-width: 1024px) {
    .about {
        #imageAbout {
            text-align: center;
            img {
                width: 65%;
                margin-left: auto;
                margin-right: auto;
                margin-top: 25px;
                margin-bottom: 25px;
            }
        }
    }
}

/* Desktop */
@media screen and (min-width: 1440px) {
    .about {
        background-color: #EEE;
        height: 700px;

        h2 {
            margin: 0;
            padding: $h2-margin;
            font-size: $h2-font-size;
        }

        p {
            margin: $p-margin;
            font-size: $p-font-size;
        }

        #imageAbout {
            padding-left: 0;
            margin-left: 192px;
            width: 30%;
            img {
                margin-left: 0;
                padding-left: 0;
                padding-right: 40px;
                float: left;
                width: 100%;
                margin-top: 0;
            }
            margin-left: 192px;
            display: inline;
            width: 30%;
            float: left;
        }

        #textAbout {
            margin-right: 192px;
            display: inline;
            width: 40%;
            float: right;

            h3 {
                margin: $h3-margin;
                margin-left: 0;
            }

            p {
                margin-left: 0;
            }

            .button {
                margin-left: 0;
            }
        }

        img {
            padding-left: 0;
        }
    }
}

/* Desktop */
@media screen and (min-width: 1920px) {
    .about {
        height: 775px;
        max-width: 1920px;
        margin-left: auto;
        margin-right: auto;

        #textAbout {
            width: 48%;
        }

        #imageAbout {
            width: 30%;
            margin-left: 192px;
            padding-left: 0;

            img {
                float: left;
                width: 100%;
                margin-top: 0;
            }
        }
    }
}