.message {
    margin: $p-margin-mobile;
    margin-top: 50px;
}

.formArea {
    margin-top: 50px;

    .toggle {
        display: block;
        margin: 0;
        padding: 0;

        .bigButton {
            margin: $button-margin-mobile;
            text-align: center;
            padding: $toggle-padding;
            line-height: 41px;
            text-decoration: none;
            color: $dark-grey;
            opacity: 80%;
            font-size: $button-font-size-mobile;
            border-radius: $border-radius;
        }

        #activeToggle {
            color: white;
            background-color: $red;
            margin-right: 0;
            opacity: 100%;
        }

        #notActiveToggle {
            margin-left: 0;
        }

        #activeToggleOfferte {
            color: white;
            background-color: $red;
            margin-left: 0;
            opacity: 100%;
        }

        #notActiveToggleOfferte {
            margin-right: 0;
        }
    }

    .form {
        margin: $inputs-margin-mobile;
        border: 1px solid $dark-grey;
        margin-top: 6px;
        border-radius: $border-radius;
        padding-left: 30px;
        padding-right: 30px;

        form {
            .inputs {
                h3 {
                    margin-left: 0;
                    margin-right: 0;
                }
                    .inputs {
            margin-top: 30px;
            input {
                display: block;
                width: 100%;
                margin: $inputField-margin-mobile;
                padding: $inputFieldValue-padding;
                font-size: $input-font-size-mobile;
                color: $dark-grey;
                border: 1px solid $dark-grey;
                border-radius: $border-radius;
                margin-left: 0;
                margin-right: 0;
            }

            textarea {
                display: block;
                width: 100%;
                margin: $inputField-margin-mobile;
                padding: $inputFieldValue-padding;
                font-size: $input-font-size-mobile;
                height: 320px;
                resize: none;
                color: $dark-grey;
                border: 1px solid $dark-grey;
                border-radius: $border-radius;
                margin-left: 0;
                margin-right: 0;
            }

            select {
                /*-webkit-appearance: none;
                -moz-appearance: none; */
                display: block;
                width: 100%;
                margin: $inputField-margin-mobile;
                padding: $inputFieldValue-padding;
                font-size: $input-font-size-mobile;
                resize: none;
                color: $dark-grey;
                border: 1px solid $dark-grey;
                border-radius: $border-radius;
                background-color: white;
                margin-left: 0;
                margin-right: 0;
                /* background-image: url("https://www.flaticon.com/authors/dave-gandy");
                background-repeat: no-repeat;
                background-position: right 20px center; */
            }

            a {
                color: white;
                display: inline;
                margin-left: 0;
                margin-right: 0;
            }

            #vrachtTitle {
                display: block;
                margin-top: 30px;
                margin-bottom: 20px;

                h3 {
                    display: inline;
                    margin-right: 0;
                    margin-left: 0;
                }

                a {
                    display: inline;
                    color: $red;
                    font-weight: bold;
                    background-color: white;
                }

                #verwijderen {
                    padding-left: 0;
                }
            }

            #fotoVrachtToevoegen {
                margin: 10px 30px 10px 30px;
                padding: $inputFieldValue-padding;
                background-color: $dark-grey;
                border-radius: $border-radius;
                width: 82%;
                display: block;
                margin-bottom: 30px;
                color: white;
                margin-left: 0;
                margin-right: 0;
            }

            #cloneButton {
                border: none;
                display: inline-block;
                width: auto;
                margin: $button-margin-mobile;
                margin-top: 0;
            }

            #extraInfo {
                margin-top: 0;
            }
        }
                }

                margin-top: 30px;
                input {
                    display: block;
                    width: 100%;
                    margin: $inputField-margin-mobile;
                    padding: $inputFieldValue-padding;
                    font-size: $input-font-size-mobile;
                    color: $dark-grey;
                    border: 1px solid $dark-grey;
                    border-radius: $border-radius;
                    margin-left: 0;
                    margin-right: 0;
                }
    
                textarea {
                    display: block;
                    width: 100%;
                    margin: $inputField-margin-mobile;
                    padding: $inputFieldValue-padding;
                    font-size: $input-font-size-mobile;
                    height: 320px;
                    resize: none;
                    color: $dark-grey;
                    border: 1px solid $dark-grey;
                    border-radius: $border-radius;
                    margin-left: 0;
                    margin-right: 0;
                }
    
                select {
                    /*-webkit-appearance: none;
                    -moz-appearance: none; */
                    display: block;
                    width: 100%;
                    margin: $inputField-margin-mobile;
                    padding: $inputFieldValue-padding;
                    font-size: $input-font-size-mobile;
                    resize: none;
                    color: $dark-grey;
                    border: 1px solid $dark-grey;
                    border-radius: $border-radius;
                    background-color: white;
                    margin-left: 0;
                    margin-right: 0;
                    /* background-image: url("https://www.flaticon.com/authors/dave-gandy");
                    background-repeat: no-repeat;
                    background-position: right 20px center; */
                }
    
                a {
                    color: white;
                    display: inline;
                    margin-left: 0;
                    margin-right: 0;
                }
    
                #vrachtTitle {
                    display: block;
                    margin-top: 30px;
                    margin-bottom: 20px;
    
                    h3 {
                        display: inline;
                        margin-right: 0;
                        margin-left: 0;
                        margin-right: 0;
                    }
    
                    a {
                        display: inline;
                        color: $red;
                        font-weight: bold;
                        background-color: white;
                    }
    
                    #verwijderen {
                        padding-left: 0;
                    }
                }
    
                #fotoVrachtToevoegen {
                    margin: 10px 30px 10px 30px;
                    padding: $inputFieldValue-padding;
                    background-color: $dark-grey;
                    border-radius: $border-radius;
                    width: 100%;
                    display: block;
                    margin-bottom: 30px;
                    color: white;
                    margin-left: 0;
                    margin-right: 0;
                }
    
                #cloneButton {
                    display: inline-block;
                    width: auto;
                    margin: $button-margin-mobile;
                    margin-top: 0;
                    margin-left: 0;
                }
    
                #extraInfo {
                    margin-top: 30px;
                }
            }
        }

        #submitContact {
            border: none;
            width: auto;
            color: white;
            padding: 11px 25px;
            margin-top: 20px;
            margin-bottom: 20px;
        }
    }

    #newElementId {
        div {
            display: inline;
        }
    }

    .wrapper {
        background-color: white;

        .cloneme {
            div {
                a {
                    color: $red;
                    background-color: white;
                    padding: 0;
                    margin-left: 0;
                }

                h3 {
                    display: inline;
                    margin-right: 0;
                }
            }

            a {
                margin: 10px 30px 10px 30px;
                padding: $inputFieldValue-padding;
                background-color: $dark-grey;
                border-radius: $border-radius;
                width: 81.5%;
                display: block;
                margin-bottom: 30px;
            }
        }
    }

/* Tablet */
@media screen and (min-width: 768px) {
    .container {
        .message {
            margin: $p-margin-mobile;
            margin-left: $margin-left;
            margin-right: $margin-right;
            margin-top: 75px;
        }

        .welcome {
            h1 {
                margin-left: $margin-left;
                margin-right: $margin-right;
            }
            
            p {
                margin-left: $margin-left;
                margin-right: $margin-right;
            }
        }

        .formArea {
            margin-left: $margin-left;
            margin-right: $margin-right;

            .toggle {
                #activeToggle {
                    margin-left: 0;
                }
                #notActiveToggleOfferte {
                    margin-left: 0;
                }

                margin-left: 0;
                margin-right: 0;
            }

            .form {
                margin-left: 0;
                margin-right: 0;
                padding-left: 30px;
                padding-right: 30px;

                form {
                    h3 {
                        margin-left: 0;
                    }

                    input {
                        width: 100%;
                        margin-left: 0;
                        margin-right: 0;
                    }

                    textarea {
                        width: 100%;
                        margin-left: 0;
                        margin-right: 0;
                    }

                    #submitContact {
                        width: auto;
                    }

                    select {
                        width: 100%;
                        margin-left: 0;
                        margin-right: 0;
                    }

                    #fotoVrachtToevoegen {
                        width: 100%;
                        margin-left: 0;
                        margin-right: 0;
                    }

                    #cloneButton {
                        margin-left: 0;
                    }
                }
            }
        }
    }
}

/* Desktop */
@media screen and (min-width: 1440px) {
    .container {
        .message {
            margin: $p-margin;
            margin-top: 75px;
        }

        .welcome {
            h1 {
                font-size: $h1-font-size;
                margin: $h1-margin;
                margin-top: 100px;
            }

            p {
                font-size: $p-font-size;
                margin: $p-margin;
            }
        }

        .formArea {
            margin-top: 50px;
            margin-left: 192px;
            margin-right: 192px;
            
            .toggle {
                #activeToggle {
                    margin-left: 0;
                }

                #notActiveToggleOfferte {
                    margin-left: 0;
                }
            }

            .form {
                form {
                    .inputs {
                        h3 {
                            font-size: $h3-font-size-mobile;
                        }

                        input {
                            width: 100%;
                        }

                        textarea {
                            width: 100%;
                        }

                        select {
                            width: 100%;
                        }

                        #fotoVrachtToevoegen {
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
}

/* Desktop */
@media screen and (min-width: 1920px) {
    .container {
        max-width: 1920px;
        margin-left: auto;
        margin-right: auto;
    }
}