* {
    font-family: Helvetica;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

.container {
    height: 100%;
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
}

picture {
    max-width: 100%;
}