/*
General
*/

$red:           #D93025;
$dark-grey:     #797B84;
$light-grey:    #EEEEEE;
$white:         white;
$black:         black;


$font-family: '"Helvetica", Sans-Serif';
$title-font-weight: bold;
$p-font-weight: normal;


$kerning: 0.03em;
$line-height-factor: 1.5;
$border-radius: 4px;



/*___Mobile___*/

$h1-font-size-mobile: 25px;
$h2-font-size-mobile: 22px;
$h3-font-size-mobile: 16px;

$p-font-size-mobile: 16px;
$button-font-size-mobile: 16px;
$input-font-size-mobile: 16px;

/*
Spacers:
*/

$h1-margin-mobile: 50px 30px 30px 30px;
$h2-margin-mobile: 50px 30px 20px 30px;
$h3-margin-mobile: 30px 30px 20px 30px;

$p-margin-mobile: 20px 30px 30px 30px;
$inputs-margin-mobile: 10px 30px 10px 30px;
$inputField-margin-mobile: 10px 30px 10px 30px;
$button-margin-mobile: 30px 30px 30px 30px;

$img-margin-mobile: 40px 30px 40px 30px;

$date-margin-mobile: 12px 30px 12px 30px;

$footer-margin-mobile: 60px 0px 0px 0px;


$inputFieldValue-padding: 23px 10px 23px 10px;
$buttonValue-padding: 11px 25px 11px 25px;
$footer-padding: 20px 20px 0px 20px;
$toggle-padding: 11px 25px 11px 25px;

/*___Tablet___*/
$margin-left: 77px;
$margin-right: 77px;


/*___Desktop___*/

$h1-font-size: 45px;
$h2-font-size: 45px;
$h3-font-size: 30px;

$p-font-size: 16px;
$button-font-size: 18px;
$input-font-size: 24px;

/*
Spacers:
*/

$h1-margin: 50px 10% 30px 192px;
$h2-margin: 100px 10% 30px 192px;
$h3-margin: 50px 10% 30px 10%;

$p-margin: 30px 192px 30px 192px;
$inputs-margin: 0px;
$inputField-margin: 40px;
$button-margin: 50px 192px 50px 192px;

$img-margin: 50px 192px 50px 192px;

$date-margin: 30px 10% 20px 10%;

$footer-margin: 140px 0px 0px 0px;


$inputFieldValue-padding: 23px 20px 23px 20px;
$buttonValue-padding: 11px 25px 11px 25px;
$toggle-padding: 17px 40px 17px 40px;